<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CMS Blog</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <!-- Add navigation menu here -->
  </header>
  <main>
    <%- body %>
  </main>
  <script src="/js/main.js"></script>
</body>
</html>
